{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> 60sec Pitch </title>
    {% endif %}
</head>

<body>
    <div>
        {% block navbar %} 
        
            {% include 'navbar.html' %} 
        
        {% endblock %}
    </div>


    <div>
        {% block content %}
        
        {% endblock %}
    </div>

</body>

</html>

